
  <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'"
        style="float: right; color: White; text-decoration: none;">X</a>

<style type="text/css">
.auto-style1 {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: medium;
}
.auto-style4 {
        font-size: 18px;
        text-transform: uppercase;
        padding: 5px 0 5px 5px;
        border-bottom: 3px solid #008000;
	    color: #D01414;
}
</style>

<h3 class="auto-style4">
    About SHIVAM Consultancy and IT Services
</h3>
<span class="auto-style1">SHIVAM Consultancy and IT Services is an India based Website and IT consultancy committed to providing excellence in client service.    
</span>    <br class="auto-style1" /> <br class="auto-style1" /> 
<br class="auto-style1" />
<span class="auto-style1">SHIVAM Consultancy and IT Services has the ability to draw from an experienced base of personnel whilst maintaining a personalized form of business liaison. 
The ultimate in consultation, skills diversity and adaptability to meet client expectations are the very strengths of SHIVAM Consultancy and IT Services. 
</span> <br class="auto-style1" /> <br class="auto-style1" /> 
<br class="auto-style1" />

<span class="auto-style1">As a global outsourcing provider of IT services, we have a wide range of services to offer you. This includes web and software development. We also offer IT consultations for small businesses and even on the corporate level. 
</span> 
<br class="auto-style1" />
<span class="auto-style1">Our headquarters is located in India, which is a country very known for IT business in USA and the Eastern part of Europe. 
Our methods will undergo the complete development cycle to ensure all your needs are met. This includes designing, programming, and eventually, testing the product. Because of our effective design and development process, we remain competitive in this line of business. 
</span> 
<br class="auto-style1" /> <br class="auto-style1" /> <br class="auto-style1" />
<span class="auto-style1"><strong>Rest assured</strong> that our developers and managers are experienced as they will do all the needed analysis, programming, design and management tasks for your projects. Along with the newest Microsoft technologies, we are also very experienced in C#, ASP.NET, Silver light and MS SQL server. 
Majority of the members of our talented team of professionals are Microsoft certified. We also have architects that are very knowledgeable in the latest trends and technologies along with design patterns, SOA, MVVM, OOA/OOD and many more. 
</span> 
<br class="auto-style1" /> <br class="auto-style1" /> <br class="auto-style1" />
<span class="auto-style1">We are sincerely dedicated to bring you the results that you are looking for. The client's satisfaction is our number one priority.
SHIVAM Consultancy and IT Services utilizes technology to the fullest in order to ensure that all complex data are integrated intelligently for maximum productivity and efficiency. We believe that project success can only be attained through proper customization, efficient integration and systematic implementation of the commercial software, not just because of the product itself.

</span>

 