<a href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'"
    style="float: right; color: White; text-decoration: none;">X</a>
<style type="text/css">
    h3
    {
        color: #ffffff;
        font-size: 18px;
        text-transform: uppercase;
        padding: 5px 0 5px 5px;
        border-bottom: 3px solid #008000;
    }
</style>
<style type="text/css">
h3
	{margin-top:10.0pt;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:0in;
	margin-bottom:.0001pt;
	line-height:115%;
	page-break-after:avoid;
	font-size:11.0pt;
	font-family:"Cambria","serif";
	color:#4F81BD;
	}
h2
	{margin-top:10.0pt;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:0in;
	margin-bottom:.0001pt;
	line-height:115%;
	page-break-after:avoid;
	font-size:13.0pt;
	font-family:"Cambria","serif";
	color:#4F81BD;
	}
 p.MsoNormal
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:10.0pt;
	margin-left:0in;
	line-height:115%;
	font-size:11.0pt;
	font-family:"Calibri","sans-serif";
	}
.auto-style1 {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: medium;
}
.auto-style3 {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: normal;
	font-size: medium;
}
.auto-style4 {
	line-height: 115%;
	font-size: 11.0pt;
	font-family: Calibri, sans-serif;
	color: #4F81BD;
	font-weight: bold;
	font-style: italic;
	border-style: none;
	border-color: inherit;
	border-width: medium;
	margin-left: .65in;
	margin-right: .65in;
	margin-top: 10.0pt;
	margin-bottom: 14.0pt;
	padding: 0in;
}
.auto-style5 {
	color: #4F81BD;
	font-weight: bold;
	font-style: italic;
}
.auto-style6 {
	line-height: 115%;
	font-size: 11.0pt;
	font-family: Calibri, sans-serif;
	color: #4F81BD;
	font-style: italic;
	border-style: none;
	border-color: inherit;
	border-width: medium;
	margin-left: .65in;
	margin-right: .65in;
	margin-top: 10.0pt;
	margin-bottom: 14.0pt;
	padding: 0in;
}
</style>


<h2>Our <a name="_Toc318456147"><span class="auto-style3"><strong>Resources and 
Availability</strong></span></a><span style="font-family:&quot;Tahoma&quot;,&quot;sans-serif&quot;"><o:p></o:p></span></h2>
<p class="MsoNormal" style="font-size: medium; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
<span style="mso-spacerun:yes">&nbsp;</span><o:p></o:p></p>
<p class="MsoNormal" style="font-size: medium; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
Resources of SHIVAM Consultancy and IT Services include a professionally 
configured office environment.<span style="mso-spacerun:yes">&nbsp; </span>
Multimedia compatible computer hardware, with the latest in software, Using 
Microsoft ASP.NET and Silverlight technology helps to ensure that the highest 
quality sites are designed and maintained.<o:p></o:p></p>
<span class="auto-style1" style="line-height: 115%; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-fareast-theme-font: minor-fareast; mso-ansi-language: EN-US; mso-fareast-language: EN-US; mso-bidi-language: AR-SA">
SHIVAM Consultancy and IT Services is limited but well staffed with highly 
skilled software engineers and consultants who have diverse development 
experience. Our Software developers know how to create the best solutions in the 
industry. We can provide mission critical core development at affordable cost as 
like as your engineering team. Our Team has first class engineers having BS in 
computer science with Master degrees and a few with management background. Our 
core team has years of experience in respective areas like IT Technical, 
HealthCare and Finance.</span><p>&nbsp;</p>
<div style="mso-element:para-border-div;border:none;border-bottom:solid #4F81BD 1.0pt;
mso-border-bottom-themecolor:accent1;mso-border-bottom-alt:solid #4F81BD .5pt;
mso-border-bottom-themecolor:accent1;padding:0in 0in 4.0pt 0in;margin-left:
.65in;margin-right:.65in">
	<p class="auto-style4"><span style="font-weight:
normal;font-style:normal"><strong>Our Mission</strong></span><o:p></o:p></p>
</div>
<p class="MsoNormal"><span class="auto-style5">SHIVAM Consultancy and IT 
Services has the mission of seeing things farther in seeking competitive 
advantage for our clientele by using technology in the most innovative way, 
helping them attain prosperity and success on a long term basis.<o:p></o:p></span></p>
<p class="MsoNormal">
<span style="font-family:&quot;Tahoma&quot;,&quot;sans-serif&quot;"><o:p>&nbsp;</o:p></span></p>
<div style="mso-element:para-border-div;border:none;border-bottom:solid #4F81BD 1.0pt;
mso-border-bottom-themecolor:accent1;mso-border-bottom-alt:solid #4F81BD .5pt;
mso-border-bottom-themecolor:accent1;padding:0in 0in 4.0pt 0in;margin-left:
.65in;margin-right:.65in">
	<p class="auto-style6"><strong>Our Vision </strong></p>
</div>
<p class="MsoNormal"><span class="auto-style5">Our main responsibility includes 
delivering value to the maximum for our global customers. To pursue this, our 
dedicated teamwork and serious commitment in taking leadership in the 
development of HealthCare and other web solutions will forge our way in making 
technology work for your business.<o:p></o:p></span></p>
