<link href="../../css/my.css" rel="stylesheet" type="text/css" />
<script>

    $(function () {

        var $form_inputs = $('form input');

        var $rainbow_and_border = $('.rain, .border');

        /* Used to provide loping animations in fallback mode */

        $form_inputs.bind('focus', function () {

            $rainbow_and_border.addClass('end').removeClass('unfocus start');

        });

        $form_inputs.bind('blur', function () {

            $rainbow_and_border.addClass('unfocus start').removeClass('end');

        });

        $form_inputs.first().delay(800).queue(function () {

            $(this).focus();

        });

    });

</script>
 <form id="frmLogin" action="@Url.Action("Login","Home")" method="post">
 <h2>Provide Login to Continue</h2>
        <div id="container">
            <label for="email">
                Email</label>
            <input name="email" type="text" placeholder="Enter Your Email Address" />
            <br />
            <label for="pass">
                Password</label>
            <input name="pass" type="password" placeholder="Fill Your Password" />
            
            <div style="position:relative;float:right;">
                <input type="submit" data-inline="true" id="btnSubmit" data-role="button" data-theme="e"
                    value="LOG IN" />
            </div>
           </div>
            <!-- /Glowform -->
   </form>  


    <style type="text/css">
            .number
            {
                font-size: 30px;
                font-weight: bold;
                width: 50px;
                text-align: center;
                height: 50px;
                vertical-align: middle;
                position: relative;
                float: left;
                margin: 0px;
                padding: 0px;
                background-color: #003399;
                border-radius: 50px;
            }
        </style>
   
  