<link href="../../css/my.css" rel="stylesheet" type="text/css" />
<script>

    $(function () {

        var $form_inputs = $('form input');

        var $rainbow_and_border = $('.rain, .border');

        /* Used to provide loping animations in fallback mode */

        $form_inputs.bind('focus', function () {

            $rainbow_and_border.addClass('end').removeClass('unfocus start');

        });

        $form_inputs.bind('blur', function () {

            $rainbow_and_border.addClass('unfocus start').removeClass('end');

        });

        $form_inputs.first().delay(800).queue(function () {

            $(this).focus();

        });

    });
    function DisplayMsg() {
        alert("login Success");
    }
</script>
@using (
       Ajax.BeginForm("Login", "Home", new AjaxOptions()
       {
           UpdateTargetId = "containerLogin",
           HttpMethod = "Post",
           OnComplete = "DisplayMsg",

       }
       )
     )
{
    <h2>
        Provide Login to Continue</h2>
    <div id="container">
        <label for="email">
            Email</label>
        <input name="email" type="text" placeholder="Enter Your Email Address" />
        <br />
        <label for="pass">
            Password</label>
        <input name="pass" type="password" placeholder="Fill Your Password" />
        <div style="position: relative; float: right;">
            <input type="submit" data-inline="true" id="btnSubmit" data-role="button" data-theme="e"
                value="LOG IN" />
        </div>
    </div>
    <!-- /Glowform -->
}
