
    *
    {
        font-family: "Segoe UI" , Tahoma, Geneva, Verdana, sans-serif;
    }
    #bottomButtonContainer div
    {
        float:right;
    }
    #MainContainer
    {
        width: 100%;
        height: 100%;
        background-color: transparent;
        font-size: 13px;
    }
    #leftMenu
    {
        position: fixed;
        top: 20px;
        display: block;
        width: 10%;
        z-index: 50;
        float: left;
        margin: 25px 10px 10px 10px;
      
        background-color: #95CAE9;
        display: table-cell;
        vertical-align: middle;
    }
    #Container
    {
        width: 95%;
        float: right;
        position: absolute;
        background-color: transparent;
        border-bottom: 1px #60A620 solid;
        
        margin: 10px 10px 10px 30px;
        border-radius: 2px;
    }
    #MenuContainer
    {
        width: 100%;
        position: relative;
        background: none;
        margin: 0px;
        padding: 0px;
    }
    #menuHeader
    {
        background: black;
        font-size: 20px;
        font-weight: bold;
        padding: 4px;
        color: aqua;
        margin: 0px;
    }
    #menus
    {
        width: 100%;
        position: absolute;
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        background-color: #95CAE9;
    }
    
    #lastChild
    {
        padding: 0px;
        margin: 0px;
    }
   
    #Close
    {
        margin: 0px;
        padding: 0px;        
        border: 0px;
        border-top: 1px teal solid;
        top: 50px;
        bottom: 0px;
        position: absolute;
        z-index: 60;
        opacity: 0.6;
    }
    .formRow
    {
        display: table-cell;
        position: relative;
    }
    .formRow div
    {
        width: 40%;
        margin: 15px 10px 10px 10px;
        float: left;
        text-align: center;
    }
    .formRow div label
    {
                text-align: right;
       
        color:#000;
        
    }
    .formRow div input
    {
        float: right;
        width:60%;
        border: 1px teal ridge;
    }
    .formRow div label, .formRow div input
    {
        position: relative;
        
        vertical-align: middle;
    }
    .box
    {
        border: 1px solid #60A620;
        margin: 10px;
    }
    .box h5
    {
        background: #60A620;
        color: black;
        padding: 8px;
        margin: 0px;
        opacity: 0.6;
    }
    .box h5 img
    {
        float: right;
        padding: 0px;
        border: 0px;
        margin-bottom: 3px;
        vertical-align:top;
        position:relative;
    }
    .box p
    {
        color: #333;
        height: 100%;
        width: 100%;
        position: relative;
    }
    .box
    {
        -moz-border-radius-topright: 5px;
        -moz-border-radius-topleft: 5px;
        -webkit-border-top-right-radius: 5px;
        -webkit-border-top-left-radius: 5px;
    }
